@import url('https://fonts.googleapis.com/css?family=Alata|Staatliches&display=swap');


/*Design Elements*/
body {
	background-color: #000000;
}

h1 {
	font-family: 'Staatliches', cursive;
	color: #e60000;
}

h2 {
	font-family: 'Staatliches', cursive;
	color: #990000;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	font-family: 'Staatliches', cursive;
	color: #b30000;
}

h4, .h4 {
	font-family: 'Alata', sans-serif;
	color: #ff8080;
}

p, label, nav{
	font-family: 'Alata', sans-serif;
	color: #D0D0D0;
	line-height: 3.0rem;
	font-size: 30px;
}

li {
	font-family: 'Staatliches', cursive;
	color: #ff3333;
	list-style-type: none;

	width:33%;
}

footer {
	padding-top: 20px;
}

ul{
	display: flex;
}

/*Actions*/
a:hover {
	color: #FFFFFF;
}

/*Classes*/
.list{
	font-family: 'Alata', sans-serif;
	color: #CCCCCC;
	line-height: 3.0rem;

}

.homepage {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	padding-top: 25px;
  	padding-bottom: 25px;
}

.secondheader {
	font-family: 'Staatliches', cursive;
	color: #e60000;
	font-size: 55px;

}

.infoheader {
	font-family: 'Staatliches', cursive;
	color: #990000;
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.headernewsletter {
	font-family: 'Alata', sans-serif;
	color: #ff8080;
	font-size: 20px;
	padding-bottom: 25px;
}

.pinfo {
	font-family: 'Alata', sans-serif;
	color: #D0D0D0;
	line-height: 3.0rem;
	padding-top: 30px;
}

.submitbutton {
	font-family: 'Alata', sans-serif;
	color: #f5f5f0;
	line-height: 3.0rem;
}

.navbar {
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}

.positions {
	padding-bottom: 55px;
	padding-top: 55px;
}

.form {
	padding-top: 20px;
	padding-bottom: 20px;
}

.submitbutton {
	padding-top: 10px;
}
