@import url('https://fonts.googleapis.com/css?family=Alata|Staatliches&display=swap');

body {
	background-color: #000000;
}

h1 {
	font-family: 'Staatliches', cursive;
	color: #e60000;
}

h2 {
	font-family: 'Staatliches', cursive;
	color: #990000;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	font-family: 'Staatliches', cursive;
	color: #b30000;
}

h4 {
	font-family: 'Alata', sans-serif;
	color: #ff8080;
}

p, label{
	font-family: 'Alata', sans-serif;
	color: #f5f5f0;
	line-height: 3.0rem;
}

li {
	font-family: 'Staatliches', cursive;
	color: #ff3333;
}

.list{
	font-family: 'Alata', sans-serif;
	color: #CCCCCC;
	line-height: 3.0rem;

}

.homepage {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	padding-top: 25px;
  	padding-bottom: 25px;
}

.secondheader {
	font-family: 'Staatliches', cursive;
	color: #e60000;
	font-size: 55px;

}

.infoheader {
	font-family: 'Staatliches', cursive;
	color: #990000;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.headernewsletter {
	font-family: 'Alata', sans-serif;
	color: #ff8080;
	font-size: 20px;
}



