@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Staatliches&display=swap');

body {
	background-color: #000000;
}

h1 {
	font-family: 'Staatliches', cursive;
	color: #e60000;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #b30000;
}

p {
	font-family: 'Fjalla One', sans-serif;
	color: #989898;
}

li {
	font-family: 'Montserrat', sans-serif;
	color: #ff3333;
}